.selectConsortBy {
    display: flex;
    gap: 5px;
    justify-content: right;
    align-items: center;
    width: 100%;
}

#selectTitle {
    color: var(--darkBlue);
    font-size: 18px;
}

#sortBy {
    background-color: var(--white);
    border: 2px solid var(--darkBlue);
    color: var(--blue);
    font-family: "diadactGothic";
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    padding: 1px 5px;
}